.listPanel__item--reviewer__email {
	margin-left: 0.5rem;
}

.reviewsListPanel .listPanel__item--submission__id {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0.75rem;
	line-height: 22px;
	color: #222;
}
.reviewsListPanel .listPanel__itemTitle {
	position: relative;
	display: block;
}

.reviewsListPanel .listPanel__itemTitle,
.reviewsListPanel .listPanel__itemSubtitle {
	padding-left: 2.5rem;
}

.reviewsListPanel .listPanel__itemStatus {
	margin-left: 0.5rem;
	margin-right: 0.25rem;
}
